body {
    background: url('./imgs/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;

    font-family: helvetica;
}

/* Modal & Heading  */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 75%;
    height: 75%;
    overflow: auto;
    background-color: skyblue;
    background-color: (skyblue, 0.4);
}

.modal-content {
    background-color: grey;
    margin: 25% auto;
    padding: 10px;
    border: 1px solid #888; 
    width: 75%;
}

.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

/* The Game  */

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    perspective: 10000px;
}

.cards_single {
    background: black;
    color: green;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    margin: 5px;
    /* border-radius: 10px; */
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    -webkit-transition: transform 0.6s;
    transform-style: preserve-3d;
    height: auto;
    width: 20%;
    user-select: none;
}

.card_logo, .card_flip {
    text-align: center;
    /* border-radius: 15px; */
}

.card_front, .card_back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

.card_front {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

.card_back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    text-align: center;
}

.cards_single.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
}

.section {
    height: fit-content;
    width: fit-content;
}

.card_logo {
    width: 100px;
    height: 100px;
}

.matched {
    border: solid black 25px;
}