.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 75%;
    height: 75%;
    overflow: auto;
    background-color: skyblue;
    background-color: (skyblue, 0.4);
}

.modal-content {
    background-color: grey;
    margin: 25% auto;
    padding: 10px;
    border: 1px solid #888; 
    width: 75%;
}

.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 80%;
    height: 75%;
    display: grid;
    /* grid-template-columns: 1fr 1 fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.box {
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    perspective: 1000px;
}

.box-inner {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.box:hover .box-inner {
    transform: rotateY(180deg);
}

.box-front {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.box:hover .box-front {
    transform: rotateY(180deg);
}

.box-front, .box-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.box-front {
    background-color: black;
    color: white;
}

.box-back {
    background-color: grey;
    color: white;
    transform: rotateY(180deg);
}








