.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 75%;
    height: 75%;
    overflow: auto;
    background-color: skyblue;
    background-color: (skyblue, 0.4);
}

.modal-content {
    background-color: grey;
    margin: 25% auto;
    padding: 10px;
    border: 1px solid #888; 
    width: 75%;
}

.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}











